{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "semi": false,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.json",
      "options": { "parser": "json" }
    }
  ]
}
